<header class="page-header">
  <h1>Admin &raquo; Dashboard</h1>
</header>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th >Category (<%= @category_count%>)</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories%>
    </tbody>
    <tfoot>
      <tr>
        <th >
          TOTAL:
        </th>
        <th>
          <%= @product_total %>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<%= link_to 'See All Products', [:admin, :products], class:["fs-4", "text-decoration-underline", "text-success"] %>