<header class="page-header">
  <h1>Login</h1>
</header>
<div>
  This is a login page, app\views\users\login\show.html.erb
</div>

<%= link_to 'See All Products', [:admin, :products], class:["fs-4", "text-decoration-underline", "text-success"] %>