<header class="page-header">
  <h1>About Jungle</h1>
</header>
<div>
<p>Welcome to our online plant store! We are a team of passionate plant enthusiasts dedicated to bringing the beauty of nature into your home. Our mission is to provide you with a wide variety of high-quality plants, expert advice, and exceptional  customer service. <p>

<p>At our store, you'll find an extensive collection of indoor and outdoor plants, including rare and hard-to-find species. From succulents and cacti to ferns and tropical plants, we have something for every taste and preference. All of our plants are carefully curated and sourced from the best growers to ensure their health and vitality.</p>

<p>We believe that plants have a transformative power, both for your living space and your well-being. Not only do they add color and life to your home, but they also purify the air and boost your mood. That's why we are passionate about helping you find the perfect plant that will thrive in your space and enhance your life.</p>

<p>Our team of plant experts is always here to answer any questions you may have and provide you with personalized advice on how to care for your plants. We believe in empowering our customers with the knowledge and tools they need to create a thriving plant environment.</p>

<p>Thank you for choosing us as your plant supplier. We are excited to help you bring the beauty of nature into your home and make your space a greener and more vibrant place to be.</p>
</div>

  <%= link_to "Let's get green!", root_path, class:["fs-4", "text-decoration-underline", "text-success"]%>
